:root{
    --dark-blue:#0a0a23;
    --gray-05:#f5f6f7;
    --gray-75:#3b3b4f;
    --darker-blue:#1b1b32;
    --error:#a94442;
    --light-blue:#198eee;
}
body{
    background-color: var(--dark-blue);
    color: white;
}
img{
    width:300px;
    height: 150px;
}
.heading{
    text-align:center;
    font-size:36px;
    width:25%;
    align-content: center;
    margin: 10px auto 10px auto;
    font-family: 'Castoro Titling';
}
.output1{
    text-align: center;
    width:27%;
    background-color: var(--gray-75);
    height:250px;
    margin:auto;
    border: 2px solid var(--gray-05);
}
.enter{
    font-size: 30px;
}
#number{
    width:70%;
    background-color: var(--darker-blue);
    border: 1px solid var(--gray-05);
    height:50px;
    margin: auto;
    color:white;
    font-size: 23px;
    display: block;
    line-height: 1.4;
    appearance: auto;
}
#number:focus {
    box-shadow: 0 0 10px var(--light-blue);
}
button{
    width:70%;
    height:40px;
    margin:10px auto 10px auto;
    padding-bottom: 10px;
    box-sizing: border-box; 
    cursor: pointer;
    padding: 10px 16px;
    margin-top: 20px;
    background-image: linear-gradient(#fecc4c, #ffac33);
}
#output{
    text-align: center;
    width:27%;
    height:150px;
    margin:40px auto 40px auto;
    border: 2px solid var(--gray-05);
    display: none;
    text-align: center;
    font-size:34px;
}